* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

/******* HEADER *******/
.site_header {
    width: 100%;
}
.container_header {
    width: 65%;
    margin: 0 auto;
}
/* NAV 1 */
.navig {
    font-size: 12px;
    padding: 1.2rem 0;
}
.clearflix::after {
    content: "";
    display: table;
    clear: both;
}
.languages {
    padding-right: 0.2rem;
}
.arrow {
    border-right: 1px solid #33475b;
    padding-right: 1rem;
    margin-right: 0.5rem;
}
.menu_left {
    float: left;
}
.menu_right {
    float: right;
}
a {
    text-decoration: none;
    list-style: none;
}
.login {
    border: 2px solid #ff7a59;
    color: #ff7a59;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.8rem;
}
.btn_orange {
    background-color: #ff7a59;
    border: 2px solid #ff7a59;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.btno1 {
    padding: 0.5rem;
    
}

/* SECOND HEADER */
.bg_salmon {
    background-color: rgb(255, 198, 175);
    height: 80vh;
}
.ctn_h {
    height: 100%;
    position: relative;
}
.container_theader {
    width: 40%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 100px;
}
.container_theader > p {
    font-size: 12px;
}
.btno2 {
    margin-top: 3rem;
    padding: 1.2rem;
    font-size: 12px;
}
.container_theader > p {
    margin: 2.2rem 0 2.3rem;
}

